.title{
    font-weight:700;
    font-size: 25px;
    color:hsl(206deg 66% 33%) ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.daily-item{
    background-color: hsl(206deg 66% 33%);
    border-radius: 15px;
    margin: 5px;
    height: 200px;
    width: 175px;
    display:grid;
    align-items: center;
    font-size: 14px;
    padding: 5px 20px;
    cursor: pointer;
}
.icon-small{
    width: 70px;
    margin: 0 50px;
}
.day{
    color: hsl(108deg 12% 92%);
    flex: 1 1;
    font-weight: 600;
   text-align: center;
}
.description{
    flex: 1 1;
    margin-right: 15px;
    text-align: center;
    color: hsl(108deg 12% 92%);
}
.min-max{
    color:hsl(108deg 12% 92%);
    text-align: center;
}
.daily-details-grid{
    grid-row-gap: 0;
    grid-column-gap: 15px;
    column-gap: 15px;
    row-gap: 0;
    width: 190px;
    height: 200px;
    display: grid;
    flex: 1 1;
    padding: 5px 15px;
    background-color:hsl(29deg 77% 51%); 
    border: 1px solid hsl(29deg 77% 51%);;
    border-radius: 15px;
    padding-top: 30px;
    margin-top: 10px;
}
.daily-details-grid-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
.daily-details-grid-item label:first-child{
    color: #f5f5f5;
}
.daily-details-grid-item label:last-child{
    color: #f5f5f5;
}
.accordion{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    justify-items: center;
    width: auto;
}
.accordion__item:last-child{
    justify-self: center;
    grid-column-start: span 3;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 10px
  
}
.calendar-icon{
  height: 30px;
  margin-top: 13px;
  margin: 0px;
  
}
@media screen and (max-width: 600px){
    .title{
        font-weight:700;
        font-size: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
        margin:  0px;
    }
    .header{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        padding: 10px
    }
    .calendar-icon{
        margin-top: 25px;
        margin: 0px;
      
      }
    .accordion{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        padding: 10px 10px
    }
    .accordion__item:last-child{
        justify-self: center;
        grid-column-start: span 1;
    }
    .daily-details-grid{
        grid-column-gap: 7px;
        column-gap: 7px;
        width: 165px;
        height: 200px;
        padding: 5px 15px;
        padding-top: 30px;
        margin-top: 10px;
        
    }
    .daily-item{
        margin: 3px;
        height: 200px;
        width: auto;
        font-size: 14px;
        padding: 3px 10px;
        cursor: pointer;
    }  
}